<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="demo2016.xiaoneng.cn.modulemain">

<application
        android:name=".ModuleApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/modulemain_app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/modulemain_AppTheme">
    <activity android:name=".DemoActivity">
        <intent-filter>
            <action android:name="android.intent.action.MAIN"/>
            <category android:name="android.intent.category.LAUNCHER"/>
        </intent-filter>
    </activity>
</application>
</manifest>